node_modules
.pnpm-store
.git
.github
.idea
.vscode
.trae
.cozeproj
.taro
dist
dist-*
build
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
assets
docs
public
src
key
scripts
*.md
*.sql
*.png
*.jpg
*.jpeg
*.zip
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!patches
!patches/**
!config
!config/**
!public
!public/**
!src
!src/**
!babel.config.js
!tsconfig.json
!project.config.json
!project.tt.json
!server/package.json
!server/nest-cli.json
!server/tsconfig.json
!server/tsconfig.build.tmp.json
!server/Dockerfile
!server/load-env.js
!server/src
!server/src/**
!server/cert
!server/cert/**
